@import '@sass/helpers/mixins';

.sales {
  padding: 32px;
  flex: 1;
  background-color: #c4d3f6;

  @include e(title) {
    margin-bottom: 16px;
    color: #072b63;
  }
}

.api-failed {
  color: #181818;
  font-size: 18px;
}
