@import '@sass/helpers/mixins';

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;

  .row.header {
    color: #fff;
    background: #6c7ae0;

    .cell {
      font-family: Poppins-Regular;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      line-height: 1.2;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-right: 15px;
      cursor: pointer;
    }

    th {
      text-align: left;
    }
  }

  .row {
    background: #fff;
  }

  .cell {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #666;
    line-height: 1.2;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #f2f2f2;
  }

  .row .cell:nth-child(1) {
    padding-left: 40px;
  }

  .no-data {
    background-color: white;
    padding: 12px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
}
